body{
  position:relative;
  background: url(https://image.freepik.com/free-vector/hand-drawn-bricks-background_1176-82.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:100%;
  margin:0

}
body:after{
  position:fixed;
  content:"";
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-1;
}
.logo{
    text-align: center;
    font-size: 800%;
    color: rgb(24, 8, 117);
    text-shadow: blueviolet;
}
input {
    width: 4%;
    border: 5px solid  rgb(4, 54, 56);
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.input_N_M{
    padding-top: 4%;
    padding-left: 44%;
    
}
div {
    padding-top: 8%;
    padding-left: 40%;
}

.inputs_N_M{
    margin-top: 2%;
    margin-left: 2%;
    border: 4px solid  rgb(223, 105, 9);
}
h2{
  padding-top: 1%;
  background-color: rgb(243, 243, 243);
  display: inline-block;
}
.btnAut , .btnMan{
  margin-left:1% ;
  border: 4px solid  rgb(235, 48, 119);
}
.manualBtn{
  display: none;
  margin-top: 2%;
  margin-left: 2%;
  border: 4px solid  rgb(90, 173, 11);
}
.canvas{
  margin-top: 3%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-size: 150%;
  background-color: rgb(86, 16, 143);
}

#myBtn:hover {
  background-color: rgb(20, 130, 150);
}